{{- $title := or .Attributes.title "" -}}
{{- $lang := or .Type "text" -}}
{{- $code := strings.TrimRight "\n" .Inner -}}
{{- $lines := split $code "\n" -}}
{{- $lineCount := len $lines -}}
{{- $threshold := site.Params.article.codeBlockFoldThreshold | default 30 -}}
{{- $expandByDefault := site.Params.article.codeBlockFoldExpandByDefault | default false -}}
{{- $label := "" -}}
{{- if $title -}}
  {{- $label = $title -}}
{{- else if ne $lang "text" -}}
  {{- $label = printf "%s 代码" (upper $lang) -}}
{{- else -}}
  {{- $label = "代码块" -}}
{{- end -}}
{{- $shouldFold := gt $lineCount $threshold -}}
{{- $previewLines := first $threshold $lines -}}
{{- $remainingCount := sub $lineCount (len $previewLines) -}}
{{- $foldID := printf "%s-%s-%d" $label $lang $lineCount | md5 -}}

{{- if $shouldFold -}}
  <div class="codeblock-fold" style="--code-fold-lines: {{ $threshold }};">
    <input id="codeblock-{{ $foldID }}" class="codeblock-fold__checkbox" type="checkbox" {{ if $expandByDefault }}checked{{ end }}>
    <div class="codeblock-fold__header">
      <span class="codeblock-fold__meta">{{ $label }} · 共 {{ $lineCount }} 行</span>
      <label for="codeblock-{{ $foldID }}" class="codeblock-fold__toggle">
        <span class="codeblock-fold__hint" data-open-label="收起代码" data-closed-label="展开剩余 {{ $remainingCount }} 行"></span>
      </label>
    </div>
    <div class="codeblock-fold__content">
      <div class="highlight-wrapper">
        {{- with $title -}}
          <div class="codeblock-title">
            {{- . -}}
          </div>
        {{- end -}}
        {{- transform.Highlight $code $lang .Options -}}
      </div>
    </div>
  </div>
{{- else -}}
  <div class="highlight-wrapper">
    {{- with $title -}}
      <div class="codeblock-title">
        {{- . -}}
      </div>
    {{- end -}}
    {{- transform.Highlight $code $lang .Options -}}
  </div>
{{- end -}}
